<link rel="stylesheet" href="/css/user_profile.css" />

<!-- showing the pic
<h1>Codeial / <%=title%></h1> -->

<!-- <% if(user.id==profile_user.id){ %>

<form
  action="/users/update/<%= profile_user._id%>"
  enctype="multipart/form-data"
  method="POST"
>
  <input
    type="text"
    name="name"
    placeholder="Enter name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Enter email"
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile pic" />
  
  <input type="submit" value="Update" />
</form>
<% }else{ %>
<h1>Name : <%= profile_user.name%></h1>
<h1>Email : <%= profile_user.email%></h1>
<% if(friend){%>
<a href="../unfollow/<%= profile_user._id%>"><button>UN Follow</button></a>
<%}else{%>
<a href="../friendship/<%= profile_user._id%>"><button>Follow</button></a>
<%}%> <% } %>
<section id="user-friends">
  <h4>Friends list</h4>

  <% for(u of profile_user.friends){ %>
  <a href="/users/profile/<%= u._id%>">
    <span><%= u.name%></span>
  </a>
  <br />
  <% } %>
</section> -->

<div class="screen-1">
  <img src="<%=profile_user.avatar %>" alt="<%= user.name %>" width="100" />
  <% if(user.id==profile_user.id){ %>
  <form
    action="/users/update/<%= profile_user._id%>"
    enctype="multipart/form-data"
    method="POST"
  >
    <div class="name">
      <label for="name">Name : </label>
      <div class="sec-2">
        <input
          type="text"
          name="name"
          placeholder="abc"
          value="<%= profile_user.name %>"
          required
        />
      </div>
    </div>

    <div class="email">
      <label for="email">Email Address : </label>
      <div class="sec-2">
        <input
          type="email"
          name="email"
          placeholder="Username@gmail.com"
          value="<%= profile_user.email %>"
          required
        />
      </div>
    </div>

    <button
      class="login"
      style="color: white; cursor: auto"
      placeholder="Profile pic"
    >
      <input
        type="file"
        name="avatar"
        style="cursor: pointer"
        placeholder="Profile pic"
      />
    </button>

    <button
      class="login"
      type="submit"
      style="color: white; background-color: rgb(3, 70, 216)"
    >
      Update
    </button>
  </form>

  <% }else{ %>
  <div class="name">
    <label for="name">Name : </label>
    <div class="sec-2">
      <input
        type="text"
        name="name"
        value="<%= profile_user.name %>"
        required
        readonly
      />
    </div>
  </div>

  <div class="email">
    <label for="email">Email Address : </label>
    <div class="sec-2">
      <input
        type="email"
        name="email"
        value="<%= profile_user.email %>"
        required
        readonly
      />
    </div>
  </div>

  <!-- <h1>Name : <%= profile_user.name%></h1>
  <h1>Email : <%= profile_user.email%></h1> -->
  <% if(friend){%>
  <a href="../unfollow/<%= profile_user._id%>"
    ><button
      class="login"
      style="color: white; background-color: rgb(172, 8, 8)"
    >
      UN Follow
    </button></a
  >
  <%}else{%>
  <a href="../friendship/<%= profile_user._id%>"
    ><button
      class="login"
      style="color: white; background-color: rgb(6, 109, 6)"
    >
      Follow
    </button></a
  >
  <%}%> <% } %>
</div>

<div>
  <section id="post-list" style="width: 80%; float: left">
    <button
      class="login"
      style="
        color: white;
        cursor: auto;
        padding: 1em;

        background: rgb(3, 88, 150);
        border: none;
        border-radius: 30px;
        font-weight: 600;
        width: 20%;
        margin: 1%;
        margin-left: 4%;
      "
    >
      Posts
    </button>

    <div id="posts-list-container">
      <% for(post of Upost){ %>

      <div class="post-wrapper" id="post-<%= post._id%>">
        <div class="post-header">
          <div class="post-avatar">
            <div>
              <span class="post-author"> <%= post.user.name %></span>
              <% d = new Date()-post.createdAt; %>
              <ul
                style="
                  color: grey;
                  list-style: disc;
                  font-family: 'Times New Roman', Times, serif;
                  font-size: smaller;
                "
              >
                <li>
                  <span class="post-time"><%= convertMiliseconds(d) %></span>
                </li>

                <li>
                  <span class="post-time"
                    >Created At :<%= post.createdAt %></span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="post-content"><%= post.content %></div>

          <div class="post-actions">
            <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
            <!-- study about the data attribute -->
            <small class="post-like">
              <img
                src="<%= process.env.HOST_URL%>/uploads/images/like.png"
                alt="like-icon"
              />
              <%= post.likes.length %> Likes %>
            </small>
            <div class="post-comments-icon">
              <img
                src="<%= process.env.HOST_URL%>/uploads/images/comment.png"
                alt="comments-icon"
              />
              <span><%= post.comments.length %></span>
            </div>
          </div>
        </div>
      </div>

      <%} %>
    </div>

    <!-- <% for(u of profile_user.friends){ %>
  <a href="/users/profile/<%= u._id%>">
    <span><%= u.name%></span>
  </a>
  <br />

  <%} %> -->
  </section>

  <section id="user-friends" style="width: 15%; float: right">
    <button
      class="login"
      style="
        color: white;
        cursor: auto;
        padding: 1em;

        background: rgb(4, 134, 26);
        border: none;
        border-radius: 30px;
        font-weight: 600;
        width: 80%;
        margin: 1%;
        margin-top: 11%;
        margin-bottom: 10%;
      "
    >
      Friends
    </button>

    <% for(u of profile_user.friends){ %>
    <button
      class="login"
      style="
        color: white;
        cursor: auto;
        margin: 3px;

        background: rgb(223, 222, 219);
        border: none;

        font-weight: 300;
        width: 80%;
      "
    >
      <a href="/users/profile/<%= u._id%>">
        <h3><%= u.name%></h3>
      </a>
    </button>

    <%} %>
  </section>
</div>
