<link rel="stylesheet" href="/css/home.css" />

<div id="home-container">
  <section id="feed-posts">
    <div id="feed-list">
      <% if(locals.user){ %>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea
          name="content"
          cols="30"
          rows="3"
          placeholder="Type Here..."
          required
        ></textarea>
        <div>
          <button id="post-bu" type="submit" value="Post">Add Post</button>
        </div>
        <!-- <input type="submit" value="Post" /> -->
      </form>

      <% } %>

      <div id="posts-list-container">
        <% for(post of posts){ %> <%- include('_post') %> <%} %>
      </div>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users){ %>
    <a href="/users/profile/<%= u._id%>">
      <div><%= u.name%></div>
    </a>
    <% } %>
  </section>
  <%- include('_chat_box') -%>
</div>

<script src="/js/home_post_comments.js">
  //conneting 2 nd assets of js file
</script>
<script src="/js/home_posts.js">
  //conneting to assets file
</script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>

<!--include cdnj of socket.io-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
  new ChatEngine("user-chat-box", "<%= locals.user.email %>");
</script>
<% } %>
