<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        
        <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- extracting here the css part  of sub page -->
        <%- style %>
    
    </head>
    <body>
        <%- include('_header'); %>
        
        

        <main id="layout-main">
            <%- body %>
        </main>
        
        <%- include('_footer'); %>
         
         <!-- extracting here the js part  of sub page -->
        <%- script %>
        <script>
            <% if ( flash.success && flash.success.length>0 ){ %> 

            new Noty({
                theme:'relax',
                text: '<%= flash.success%>',
                type:'success',
                layout:'topRight',
                timeout:1500
                
            }).show();

        <% } %>

        <% if ( flash.error && flash.error.length >0 ){ %>
            new Noty({
                theme:'relax',
                text:'<%= flash.error%>',
                type:'error',
                layout:'topRight',
            
                timeout:1500
            }).show();
        <% } %>
         
        </script>
    </body>
</html>